#ignoring files
*project.pbxproj
*project.xcworkspace
*xcuserdata/sonialopchan.xcuserdatad/xcschemes
*DynamicArraySum.xcodeproj/project.pbxproj
*DynamicArraySum.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*DynamicArraySum.xcodeproj/xcuserdata/sonialopchan.xcuserdatad/xcschemes/xcschememanagement.plist
